<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/books">
    <img src="/assets/images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    BookApp
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="ac">
        <a class="nav-link" routerLink="/books">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add_book">Add Book</a>
      </li>
      <span #cartItemsCount class="mat-badge-hidden" matBadge="{{ this.bookCount }}"
      matBadgeOverlap="true" matBadgeColor="accent" matBadgePosition="above after">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/cart">
            Cart
          </a>
        </li>
      </span>
    </ul>
    <ul class="nav navbar-nav navbar-right align-items-center">
      <li #fullName class="nav-item text-light d-none">
        Welcome {{ this.userDetails.userFullName }}
      </li>
      <li class="nav-item" *ngIf="flag==false">
        <a class="btn btn-primary ml-3" routerLink="/user/login">Login</a>
      </li>
      <li #logoutButton class="nav-item d-none">
        <a class="btn btn-danger ml-3" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>