<div class="container">
    <div class="card">
        <div class="card-header">
            <span>Book Details</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary mx-auto" style="margin-right:30%"
                            routerLink="/books">Back</button>
                        <button type="button" class="ml-1 btn btn-info"
                            routerLink="/edit_book/{{ book?.bookId }}">Edit</button>
                        <button type="button" class="ml-1 btn btn-success" (click)="addToCart(book)">Add to
                            cart</button>
                        <img class="mt-2 mx-auto d-block" src="{{ book?.imageUrl }}" width="50%" height="80%" />
                    </div>
                    <br><br>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr>
                            <td>Title</td>
                            <td>{{ book?.title }}</td>
                        </tr>
                        <tr>
                            <td>Publisher</td>
                            <td>{{ book?.publisher }}</td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>{{ book?.author }}</td>
                        </tr>
                        <tr>
                            <td>Pages</td>
                            <td>{{ book?.noOfPages }}</td>
                        </tr>
                        <tr>
                            <td>Rating</td>
                            <td>
                                <ngb-rating [rate]="book?.rating"></ngb-rating>
                            </td>
                        </tr>
                        <tr>
                            <td>Edition</td>
                            <td>{{ book?.edition}}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{ book?.price | currency: "INR"}}</td>
                        </tr>
                        <tr>
                            <td>Release Date</td>
                            <td>{{ book?.releaseDate | date }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>