<div class="container mt-1">
    <label>Categories</label>
    <select class="ml-1" (change)="categoryListing($event.target.value)">
        <option value="0" selected>All</option>
        <option *ngFor="let category of categoryList" [value]="category.categoryId">{{ category.categoryName }}</option>
    </select>
</div>
<div class="container">
    <mat-table [ngClass]="['bg-light']" [dataSource]="booksList">
        <ng-container matColumnDef='bookImage'>
            <mat-header-cell *matHeaderCellDef>Book Image</mat-header-cell>
            <mat-cell *matCellDef="let book">
                <a routerLink="/book/{{ book.bookId }}"><img src="{{ book.imageUrl }}"
                        style="width: 60px; height: 80px" /></a>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef='bookTitle'>
            <mat-header-cell *matHeaderCellDef>Book Title</mat-header-cell>
            <mat-cell *matCellDef="let book">{{ book.title }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='bookPrice'>
            <mat-header-cell *matHeaderCellDef>Book Price</mat-header-cell>
            <mat-cell *matCellDef="let book">{{ book.price | currency:'INR':'symbol':'.0' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='bookRating'>
            <mat-header-cell *matHeaderCellDef>Book Rating</mat-header-cell>
            <mat-cell *matCellDef="let book">
                <ngb-rating [rate]="book.rating"></ngb-rating>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
            <mat-cell *matCellDef="let row; let book">
                <button class="btn btn-success" mat-icon-button (click)="addToCart(book)">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <button class="btn btn-primary ml-1" mat-icon-button routerLink="/edit_book/{{ book.bookId }}">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>