<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a href="" class="navbar-brand text-light">JWT Authentication Demo</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="card m-5" style="width: 18rem;" *ngIf="userDetails">
    <ul class="list-group">
        <li class="list-group-item"><strong>Name : </strong>{{userDetails.name}}</li>
        <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
        <li class="list-group-item"><strong>Contact : </strong>{{userDetails.contact}}</li>
        <li class="list-group-item"><strong>Address : </strong>{{userDetails.address}}</li>
    </ul>
</div>